@{
    ViewData["Title"] = "Skiing is king";
}

<div class="text-center">
    <h1 class="display-4">SKIING</h1>
    <h2>One of the best feelings you can have is skiing through fresh powder. Many people say that snowboarding is better than skiing...
        This website proves them wrong.
    </h2>
    <iframe width="700" height="450" src="https://www.youtube.com/embed/fbqHK8i-HdA?si=cK_N0HS_lPhSqE9s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>" 
    <br /><br />
    <h3>My hobby of skiing</h3>

    <div class="container">
        <div class="column">
            <p>
                I started skiing when I was 4 years old. Skiing quickly became one of my favorite hobbies. Ever since a young age I would count down the months each year for the ski resorts to open. I loved the excitement and the fun that skiing brought into my life. I found skiing to have many different
                possibilities, whether is was skiing park and hitting jumps/rails or skiing backcountry, I loved the thrill that skiing brought into my life. And I wanted more.
            </p>
        </div>
        <div class="column">
            <p>As I grew older my love for skiing also grew. Skiing has become one of my main hobbies. I ski in the winter and I golf in the summer. Those were my two hobbies and I set out to get as good as I could at them. Throughout my highschool years I had no fear with skiing. I would go down pretty much anything 
                and I would hit whatever. I loved the adrenallin rush from doing flips and skiing down some narly lines. Just as you saw in this video above, skiing is pretty cool. 
            </p>
        </div>
    </div>

    <div class="image-container">
        <img src="~/Zachskiing2.jpg" alt="Photo 1">
        <img src="~/Zachskiing3.jpg" alt="Photo 2">
    </div>
    
</div>
