html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    display: flex;
}

.column {
    flex: 1;
    margin-right: 20px; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        margin-right: 0;
        margin-bottom: 20px; 
    }
}

.image-container {
    display: flex;
}

.image-container img {
    width: 50%; 
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

#calculator {
    background-color: #fff;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

input[type="text"][readonly] {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: not-allowed;
}

a {
    text-decoration: none;
    color: #007bff;
}

    a:hover {
        text-decoration: underline;
    }



.image-container {
    display: flex;
    margin-bottom: 20px; /* Add some margin bottom to create space between images and footer */
}

    .image-container img {
        width: 50%; 
        height: auto;
    }

/* Sticky footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px; /* Adjust margin bottom to accommodate footer */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
}
